/*  Daqui pra baixo pertence a pág index.html  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {              /*  ESSE ROOT SERVE PRA TUDO */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  
  --cor-fundo: white;
  --cor-texto: #303030;
}



body {
  display: flex;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

h1,
p {
  margin-bottom: 16px;
}

h2 {
  display: flex;
  margin-bottom: 16px;
  color: var(--cor-texto);
  
}

section {
  background-color: white;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #ccc;
}

section h2 {
  border-radius: 12px;
  font-size: 16px;
  margin-bottom: 14px;
  background-color: var(--cor-fundo);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

aside {
  display: none;
  width: 240px;
  background-color: #dcdcdc;
  min-height: 100vh;
  padding: 24px 16px; /* substitui o padding global */
}

nav h2 {
  text-align: left;
}


/* daqui para baixo pertence á pág login.html  */ 
.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.login-page main {   /* tudo do card parece  (FALTA DEIXAR ISSO ARRUMADO PRA MOBILE ) */
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 1.5rem;
  background-color: white;
  flex: unset;
}

.login-page main img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  padding: 0;
}

.login-page main > h1 { 
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.login-page main > input[type="number"],
.login-page main > input[type="password"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #303030;
  margin-bottom: -2rem;
}


.login-page button {
  background-color: #dcdcdc;
  border-radius: 0.5rem;
  color: #303030;
  border: 1px solid gray;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.login-page label {
  padding: 0;
  margin-top: 0;
}

.login-page footer { /* FOOTER */
  margin-top: auto;
  padding-bottom: 1rem;
  font-size: 14px;
  margin-bottom: 1rem;
}

/* mobile para cima */

      /*  Tudo que tiver fora do @media é mobile  */


/* desktop para baixo */

    /*  Tudo que tiver dentro do @media é para Desktop  */

@media (width >= 768px) {
  aside {
    display: block;
  }


/* Daqui pra baixo é o Login, eu acho */

/*

.login-page {
  display: flex;
  height: 100vh;
  align-items: center;
}

*/

.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}


.login-page main {   /* tudo do card parece  (FALTA DEIXAR ISSO ARRUMADO PRA MOBILE ) */
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: auto;
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: white;
  flex: unset;
}

.login-page main img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  padding: 0;
}

.login-page main > h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.login-page main > input[type="number"],
.login-page main > input[type="password"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #303030;
  margin-bottom: 0;
}

.login-page button {
  background-color: #dcdcdc;
  border-radius: 0.5rem;
  color: #303030;
  border: 1px solid gray;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.login-page label {
  padding: 0;
  margin-top: -0.5rem;
}

.login-page footer { /* FOOTER */
  margin-top: auto;
  padding-bottom: 1rem;
  font-size: 14px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 0;
}
}

/*  NÃO SEI COMO COLOCAR A RESPONSIVIDADE PARA O LOGIN  */